---
layout: default
---


   <!--==========================-->
	  <!--start-blog-area-->
	<!--==========================-->
	<div class="blog-area blog-list-1">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
                    {% for p in site.blog reversed %}
                        <div class="single-blog-box">
                            <div class="single-blog-thumb">
                                <img src="{{ p.pic }}" alt="blog img">
                                <div class="meta-blog">
                                    <span>{{ p.date | date_to_string}}</span>
                                </div>
                            </div>
                            <div class="blog-box-content">
                                <h4><a href={{ p.url }}>{{ p.top }}</a></h4>
								<div class="container-fluid px-3 my-5 markdown-body">
									<p>{{ p.excerpt | markdownify }}</p>
								</div>
                                <div class="blog-button">
                                <a href={{ p.url }}>Learn More<i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
	         	</div>
				<!--blog-list-sidebar-->
                <div class="col-lg-4 col-md-12">
                    <div class="blog-details-sidebar">
                        <div class="sidebar-recent-news">
                            <div class="recent-title">
                                <h4>Recent News</h4>
                                </div>
                                {% for p in site.blog reversed %}
                                <div class="resent-news-box">
                                    <div class="resent-news-content">
                                        <h4><a href={{ p.url }}>{{ p.top }}</a></h4>
                                        <p><i class="bi bi-calendar2-plus"></i>{{ p.date | date_to_string}}</p>
                                    </div>
                                </div>	
                                {% endfor %}
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div><!--end-blog-area-->
