---
layout: default
---

    <!--==============================-->
	   <!-- Start-blog-Details-area-->
	<!--==============================-->
		<div class="blog-details-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-12">
						<div class="blog-post-item">
							<div class="bllog-thumb">
								<img src="{{ page.pic }}" alt="blog details img">
							</div>
							<div class="post-metainfo">
								<ul>
									<li><i class="bi bi-person"></i>{{ page.who }}</li>
									<li><i class="bi bi-calendar2-plus"></i>{{ page.date | date_to_string}}</li>
								</ul>
							</div>
							<div class="blog-details-title">
								<h1>{{ page.top }}</h1>
							</div>
							<div class="blog-details-descption">
								<div class="container-fluid px-3 my-5 markdown-body">
									<p>{{ page.content | markdownify }}</p>
								</div>
							</div>

						</div>
					</div>
					<!--blog-details-sidebar-->
					<div class="col-lg-4 col-md-12">
						<div class="blog-details-sidebar">
							<div class="sidebar-recent-news">
								<div class="recent-title">
									<h4>Recent News</h4>
								</div>
								{% for p in site.blog reversed %}
								<div class="resent-news-box">
									<div class="resent-news-content">
										<h4><a href="#">{{ p.top }}</a></h4>
										<p><i class="bi bi-calendar2-plus"></i>{{ p.date | date_to_string}}</p>
									</div>
								</div>	
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--end-blog-details-section-->

